@charset "utf-8";
/* CSS Document */

html, body, div, h1, h2, h3, footer {
	font-family: Tahoma, Arial, sans-serif;
	color: #f9f9f9;
	line-height: 100%;
}

h1, h2, h3{
	margin: 3%;
	padding: 0%;
	text-align: center;
}

.container{ 
	text-align: center;
	/*
	-webkit-box-flex: 1;
	flex: 1 0 auto;
	width: 100%;
	max-width: 1180px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;*/
}

.main{
	width: 100%; 
	text-align: center;
	-webkit-box-flex: 1;
	flex: 1 0 auto;
	
}

.info{
	width: 100%;
	display: inline-block;
}

.infotype{
	width: 50%;
	min-width: 590px;
	display: inline-block;
	margin-left:0px;
}

button.hidden{
	display:none;
}

body{
	background-image: url("Planetarium_Mobile_Prototype_Background.jpg");
	background-repeat: repeat;
	background-size: 100% 100%;
	background-position: 50% 50%;
}

.score{
	position: relative;
}

.scoreChange{
	position: absolute;
	left: 100%;
	bottom: 0%;
}

#worldscore, #worldChange {
	color: #D1E7E2;
	font-size: 300%;
	font-variant: small-caps;
}

#nationscore, #nationChange {
	font-size: 350%;
}

#individualscore, #individualChange {
	font-size: 250%;
}

#playerNumber{
	display: none;
}
#roundnumber {
	margin-top: 50px;
	font-size: 200%;
}
#timer{
	font-size: 200%;
}

#info {
	margin-bottom: 20px;
}



button {
	font-size: 400%;
	text-align: center;
	border: 2px solid #9ED6DF;
	border-radius: 7px;
	margin-top: 1%; 
	padding: 2%;
	width: 100%;
	background: radial-gradient(#000000, #000000, #20493E);
	color: #D1E7E2;
	box-shadow: 20 20 20px #127998;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 1s ease;
}

button:hover{
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 1s ease;
   color: #F9F9F9;
   background: #20493E;
}

button:focus{
	background: #20493E;
	color: #f9f9f9;
}
button:disabled, button[disabled]:hover{
	border-color:grey;
	color: grey;
	background: none;
	padding: 2%;
}
button:active {
  transform: translateY(10px);
}