@charset "utf-8";
/* CSS Document */

html, body, h1, h2, h3, footer {
	margin: 0.5vw;
	padding: 1vw;
	font-family: Tahoma, Arial, sans-serif;
	color: #f9f9f9;
	line-height: 2vw;
	box-shadow: 4px, 4px, 10px, #f9f9f9;
	display: block;
}
body{
	background: url("Planetarium_Background_Prototype_Host_Violet.jpg");
	background-repeat: no-repeat;
	background-position: -380% 190%;
	background-color: black;
}
/*-----------Header---------*/
.container{
	width:90%;
	margin:auto;
}
#quarterlyreports{
	margin: 0.5vw;
	border: 5px;
	padding: 0.25vw;
	color: #CE0003;
	font-variant: small-caps;
	font-size: 3vw;
	text-align: center;
}
.centeredInline{
	display: flex;
  	justify-content: space-between;
	margin: 0.5vw auto;
	font-variant: small-caps;
	font-size: 2.5vw;
}

#roundnumber {
	margin: 0.5vw 0vw;

	color: #CE0003;
	font-variant: small-caps;
	font-size: 4vw;
	text-align: left;
}

#worldscore{
	
	display:inline;
	align:center;
}

#roundsTill{
	margin: 20px 0px 40px 0px;
	font-variant: small-caps;
	font-size: 4vw;
	text-align: left;
}

/*-----------Table----------*/
tbody{
	border-radius: 70px;
}
tbody tr:first-child td {
	border-top:none;
}
tr{
	background: rgba(255,255,255,0)
}	
td {
    border-left: 2px solid #9ED6DF;
    border-top:2px solid #9ED6DF;
}
td:first-child {
     border-left: none;
}
.cellTable{
	font-size: 2vw;
	text-align:center;
	margin:auto;
	border-collapse: separate;
	border-spacing: 0px;
	border: 2px solid #9ED6DF;
    border-radius:20px;
    -moz-border-radius:20px;
    background: rgba(255,255,255,0);
	
}
.col{
	color:white;
}

#nationscore {
	font-size: 1.75vw;
	margin: 0.5vw;
}

#groupscore {
	font-size: 1vw;
	color: #096B7B;
	margin-left: 0.5vw;
}


.scoreCell{
	padding: 2vw 3vw;
	color: #9ED6DF;
}



body{
   margin: 0px;
   padding: 0px;
}
div{
   margin: 0px;
   padding: 0px;
}

p{
   margin: 3vw;
   padding: 0px;
}
ul{
   margin-top: 0.5vw;
   margin-bottom: 0.5vw;
   margin-left: 1vw;
   padding: 0px;
   list-style-image: url('image location');
   line-height: 0.25vw;
}
a{
   text-decoration: none;
   color: #E1E1E1;
   font-weight: bold/normal;
}
a:hover{
   text-decoration: underline;
   color: #F9F9F9;
   font-weight: normal;
   /*make sure to change at least one thing from your a tag definition*/
}
#starttimer{
	margin:0 auto;
	display: inline;
}
button {
	font-size: 100%;
	text-align: center;
	border: 2px solid #9ED6DF;
	border-radius: 7px;
	margin:0 auto; 
	padding: 2%;
	width: 33%;
	background: radial-gradient(#000000, #000000, #20493E);
	color: #D1E7E2;
	box-shadow: 20 20 20px #127998;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 1s ease;
}

button:hover{
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 1s ease;
   color: #F9F9F9;
   background: #20493E;
}

button:focus{
	background: #20493E;
	color: #f9f9f9;
}
