@charset "utf-8";
/* CSS Document */

html, body, div, h1, h2, h3, footer {
	margin: 5px;
	padding: 3px;
	font-family: Tahoma, Arial, sans-serif;
	color: #f9f9f9;
	line-height: 60px;
	box-shadow: 4px, 4px, 10px, #f9f9f9;
	display: block;
	background-image: url("Planetarium_Mobile_Prototype_Background.jpg");
	background-repeat: repeat;
	background-size: 100% 100%;
	background-position: 50% 50%
}

#worldscore {
	color: #D1E7E2;
	font-size: 50px;
	font-variant: small-caps
}

#nationscore {
	font-size: 60px
}

#individualscore {
	font-size: 42px
}

#roundnumber {
	font-size: 36px
}

button {
	font-size: 24px;
	font-align: left;
	border: 2px solid #9ED6DF;
	border-box: 10%;
	border-radius: 7px;
	margin: 5px; 
	padding: 40px;
	padding-left: 300px;
	padding-right: 300px;
	background: radial-gradient(#000000, #000000, #20493E);
	color: #D1E7E2;
	box-shadow: 20 20 20px #127998;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 1s ease;
}

button:hover{
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 1s ease;
   text-decoration: underline;
   color: #F9F9F9;
   font-weight: normal;
   padding: 60px;
   padding-left: 350px;
   padding-right: 350px;
}

button:focus{
	background: #20493E;
}
