@charset "utf-8";
/* CSS Document */
/*-- Tutorial CSS --*/

body{
	background-color: #000000;
}

html, body, div, h1, p{
	font-family: Tahoma, Arial, sans-serif;
	line-height: 100%;
	display: block;
	font-size: 120%;
}

.Intro{
	margin-left: 1%;
	margin-bottom: 0;
	font-size: 6vmax
}

#page1{
	margin-top: 0;
	font-size: 5.75vmax
}

#Pride, #Honor, #Vice, #firstButton {
	color: #ccbab7;
	opacity:0;
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
	-animation-delay: 1s;

	-webkit-animation:fadeIn ease-in 1;
	-moz-animation: fadeIn ease-in 1;
	animation: fadeIn ease-in 1;

	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	animation-fill-mode: forwards;

	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	animation-duration: 1s;
}


@-webkit-keyframes fadeIn { from { opacity:0; } to {opacity:1;} }
@-moz-keyframes fadeIn { from {opacity:0;} to {opacity: 1;} }
@keyframes fadeIn {from {opacity:0;} to {opacity:1;}}


#Honor {
	opacity:0;
	-webkit-animation-delay: 1.5s;
	-moz-animation-delay: 1.5s;
	-animation-delay: 1.5s;
}


#Vice {
	color: #7c1204; 
	opacity:0;
	-webkit-animation-delay: 3s;
	-moz-animation-delay: 3s;
	-animation-delay: 3s;
}

#firstButton{
	color: #f9f9f9;
	-webkit-animation-delay: 4s;
	-moz-animation-delay: 4s;
	-animation-delay: 4s;
}


#SecondPage {
	color: #899b95;
}


#Nationalism {
	color: #d5e9e2;
	font-style: italic;
}

p {
	color: #9dbceb;
	font-size: 10vmin;
	font-family: Courier;
	margin: 0px;
	padding: 2%;
}

#title {
	color: #7c1204;
	font-size: 8vw;
}

redtext {
	color: #f00828;
}

greentext {
	color: #0ff871;
}

#page5Text {
	font-size: 6vmin;
	margin: 0;
	padding: 0;
}

#page6Text {
	font-size: 7.5vmin;
}

.boxed {
	border: 1px solid #7c1204;
	margin-left: 15%;
	margin-right: 15%;
	margin: 3.5%;
	padding: 1%;
	padding-left: 3vw;
	padding-right: 3vw;
	text-align: center;
	font-size: 5vmin;
	font-family: Tahoma
}

#choiceText {
	border: 1px solid #ccbab7;
	background: radial-gradient(#000000, #750000, #ff0000);
	text-align: center;
	padding: 10%;
	padding-top: 2vw;
	padding-bottom: 2vw;
	margin-left: 1vw;
	margin-right: 1vw;
	color: #f9f9f9;
	font-family: Tahoma, sans-serif;
	font-size: 3vmin;
}

.choiceConsequences, .bottom {
	font-size: 3vw;
	font-family: Tahoma, sans-serif;
	color: #f9f9f9;
}

#sampleTitle {
	color:white;
	font-size: 3vw;
	font-family: Tahoma, sans-serif;
}

#choiceStats {
	text-align: justify-all;
	font-size: 3vw;
}

#page7text {
	color: #d23d3d;
}

colorred {
	color: #ff0000;
}

button {
	display: inline-block;
	vertical-align: bottom;
	align: center;
	text-align: center;
	font-size: 4vw;
	background: #000000;
	color: #f9f9f9;
	font-family: Verdana, Tahoma, sans-serif;
	border: 1px solid #f9f9f9;
	margin: 1%;
	padding: 1%;
}

